/* HOME.HTML and LAYOUT.HTML */
* {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

.menu-bar {
  background-image: linear-gradient(90deg, rgb(138, 18, 194), rgb(255, 85, 85));
  padding: 0px;
  position: sticky;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 2px 3px 0px gray;
  top: 0;
  z-index: 99;
}

#Nav-Bar {
  position: sticky;
  box-shadow: 0px 2px 3px 0px gray;
  top: 0;
  z-index: 99;
}

.nav-link {
  font-size: 15px;
  color: white;
}

.nav-link:hover {
  font-size: 15px;
  color: white;
  font-weight: 550;
}

.navbar-brand {
  color: white;
  bottom: 2px;
  position: relative;
}

.navbar-brand:hover {
  color: white;
  bottom: 2px;
  position: relative;
  font-weight: 550;
}

.form-control:hover {
  border: rgb(138, 18, 194) 2px solid;
}

#nav-bar-ul li a {
  font-size: 17px;
  text-align: right;
}

#nav-bar-logo {
  -webkit-filter: drop-shadow(5px 5px 5px #222222);
  filter: drop-shadow(5px 5px 5px #222222);
}

.carousel-item div button:hover {
  font-size: 15px;
}

@media screen and (min-width: 1000px) {
  .carousel-caption {
    font-size: 50px;
  }
}

.modal-body form div label {
  color: black;
}

.modal-body form div {
  margin: 2px;
}

.col-form-label {
  font-size: 20px;
  color: #222222;
}

/* ------------------------------------------------------------------------------------------ */
/* BLOG.HTML */

/* Add a gray background color with some padding */
.all-blog {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
  box-sizing: border-box;
}

/* Header/Blog- Title */
.blog-header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.blog-leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.blog-rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* - image */
.blog-img {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.blog-card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.blog-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.blog-footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .blog-leftcolumn,
  .blog-rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* ------------------------------------------------------------------------------------------ */
/* BLOG.HTML */

.brands-list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.brands-list > * {
  flex: 0 1 10em;
  margin: 20px;
}

#letter {
  position: relative;
  text-align: left;
}
